@use '../abstracts/' as *;

.content {
  margin-top: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5rem;

  @include smaller_desktop {
    margin-top: 1.5rem;
  }

  @include mobile {
    margin: 1rem 0 0 0;
    overflow-y: auto;
  }
}
