nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
  .separator {
    width: 0.2rem;
    height: 2.4rem;
    align-self: center;
    background-color: #d9e1d4;
  }

  .nav_link {
    display: flex;
    cursor: pointer;
  }

  .active {
    transition: all 0.5s;
    color: green;
    cursor: default;
  }
}
