nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-bottom: 3rem;

  .nav_link {
    display: flex;

    &:not(:nth-child(4))::after {
      content: '';
      width: 0.2rem;
      height: 160%;
      background-color: #d9e1d4;
      align-self: center;
      margin-left: 7.5rem;
      justify-content: flex-end;
    }
  }

  .active {
    transition: all 0.5s;
    color: green;
  }
}
