@use '../abstracts/' as *;

.propriedades {
  //baseline, 1980 x 1080p

  &__header {
    @include main_header;
  }
  &__body {
    grid-template-rows: repeat(3 1fr);
    margin-top: 5rem;
    padding: 0 20%;
    &--range {
      position: relative;
      h3 {
        font-size: 1.8rem;
        font-weight: 500;
      }
      display: grid;
      grid-template-columns: 1fr 1fr 2fr;
      align-items: center;
      margin-bottom: 5rem;
      &-min,
      &-max {
        display: flex;
        input {
          @include custom_num_field(8rem);
        }

        .btn {
          @include custom_increment_btn(1.2rem, 1.2rem);
        }
      }
      &-min {
        &_text {
          position: absolute;
          top: -3rem;
          font-size: 1.5rem;
          left: 27rem;
          color: #416747;
          font-weight: 500;
        }
      }
      &-max {
        &_text {
          position: absolute;
          top: -3rem;
          font-size: 1.5rem;
          left: 44rem;
          font-weight: 500;

          color: #416747;
        }
      }
    }
  }

  // 1280 x 720p
  @include smaller_desktop {
    h3 {
      font-size: 1.5rem;
    }
    &__body {
      //padding: 0 10%;

      &--range {
        grid-template-columns: 1fr 2fr 2fr;

        &-min {
          &_text {
            position: absolute;
            top: -3rem;
            font-size: 1.5rem;
            left: 19rem;
          }
        }
        &-max {
          &_text {
            position: absolute;
            top: -3rem;
            left: 37rem;
          }
        }
      }
    }
  }

  @include mobile {
    &__body {
      margin-top: 2rem;
      &--range {
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 5rem;
        h3 {
          display: block;
          place-self: center;
          grid-column: span 2;
        }
        &-min,
        &-max {
          place-self: center;
          position: relative;
          input {
            padding: 1.2rem 2rem;
          }
        }
        &-min {
          &_text {
            top: -3rem;
            left: 2.5rem;
          }
        }
        &-max {
          &_text {
            top: -3rem;
            left: 2.5rem;
          }
        }
        .btn {
          display: none;
        }
      }
    }
  }
}
