@use '../abstracts/' as *;

.analise {
  margin: 6rem 3rem;
  display: flex;

  & > section {
    max-width: 55rem;
    margin-right: 3.5rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
  }

  .elementos {
    &__inputBox {
      margin-top: 1.5rem;
    }
    &__input {
      font-size: 1.5rem;
      margin-top: 1.5rem;
      // display: flex;
      // align-items: center;
      // justify-content: space-between;

      &--checkbox {
        margin-left: 2rem;
      }

      label {
        // display: flex;
        // align-items: center;
        display: inline-block;
        margin-left: 2rem;
        // justify-content: space-between;
      }
      &--número {
        margin: 0 0 0 1rem;
        max-width: 4.5rem;
      }
    }
  }

  .propriedades {
    &__inputBox {
      margin-top: 1.5rem;
      input {
        margin: 0 0.5rem;
      }
    }
    &__input {
      font-size: 1.5rem;
      margin-top: 1.5rem;

      input {
        width: 6rem;
      }
    }
  }

  .ecgf {
    &__inputBox {
      margin-top: 1.5rem;
    }

    &__input {
      margin-top: 1.5rem;
      font-size: 1.5rem;

      label {
        margin: 0 0.75rem;
      }
    }
  }

  .cas {
    &__título {
      margin-bottom: 1.5rem;
    }
    label {
      font-size: 1.5rem;
      input {
        margin-left: 0.5rem;
      }
    }
  }
}

.tooltip {
  position: relative;
  margin-top: 2.5rem;

  h3 {
    color: #005bd6;
    font-size: 1.5rem;
    font-weight: 500;
    text-decoration: underline;
  }

  &:hover &__text {
    opacity: 100%;
  }

  &__text {
    transition: all 0.5s;
    position: absolute;
    bottom: 125%;
    max-width: 25rem;
    left: 20%;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: #555;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    opacity: 0;
    &::after {
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: #555 transparent transparent transparent;
    }
  }
}

.btns {
  display: flex;
  align-items: center;
  justify-content: center;

  .button {
    @include button-styling(#16747a);
    margin-right: 0.5rem;
  }
  #submit {
    @include button-styling(#307433);
  }
}
