.analise {
  margin: 6rem 3rem;
  display: flex;
  // justify-content: space-between;

  & > section {
    max-width: 55rem;
    margin-right: 3.5rem;
    text-align: center;
  }

  h2 {
    font-size: 2rem;
  }

  // .tooltip {
  //   transition: all 2.5s;
  //   &:hover {
  //     :nth-child(2) {
  //       visibility: visible;
  //     }
  //   }
  //   &__text {
  //     transition: opacity 0.5s;
  //     visibility: hidden;
  //     background-color: aliceblue;
  //   }
  // }

  .elementos {
    &__inputBox {
      margin-top: 1.5rem;
    }
    &__input {
      font-size: 1.5rem;
      margin-top: 1.5rem;
      // display: flex;
      // align-items: center;
      // justify-content: space-between;

      &--checkbox {
        margin-left: 2rem;
      }

      label {
        // display: flex;
        // align-items: center;
        display: inline-block;
        margin-left: 2rem;
        // justify-content: space-between;
      }
      &--número {
        margin: 0 0 0 1rem;
        max-width: 4.5rem;
      }
    }
  }

  .propriedades {
    &__inputBox {
      margin-top: 1.5rem;
      input {
        margin: 0 0.5rem;
      }
    }
    &__input {
      font-size: 1.5rem;
      margin-top: 1.5rem;

      input {
        width: 6rem;
      }
    }
  }

  .ecgf {
    &__inputBox {
      margin-top: 1.5rem;
    }

    &__input {
      margin-top: 1.5rem;
      font-size: 1.5rem;

      label {
        margin: 0 0.75rem;
      }
    }
  }
}

.cas {
  label {
    font-size: 1.5rem;
    input {
      margin-left: 0.5rem;
    }
  }
}
