@use '../abstracts/' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebf0e8;
  font-size: 10px;

  @include mobile {
    background-color: #d9e1d4;
  }
}
