@mixin main_header {
  padding-top: 2rem;
  display: flex;
  h2 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-left: auto;
    color: #416747;
  }
  img {
    margin-left: auto;
    margin-right: 3rem;
    cursor: help;
  }
}

@mixin custom_num_field($width) {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  -moz-appearance: textfield;
  width: $width;
  text-align: center;
  font-weight: 400;
  font-family: 'Lexend';
}

@mixin custom_increment_btn($font_size, $size) {
  cursor: pointer;
  font-size: $font_size;
  font-weight: 400;
  background-color: white;
  padding: calc($size / 2.1) $size;
  border-radius: 10rem;
  margin-right: 0.6rem;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
