@import url("https://fonts.googleapis.com/css2?family=Jockey+One&family=Lexend:wght@200;300;400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #ebf0e8;
  font-size: 10px;
}
@media (max-width: 799px) {
  html {
    background-color: #d9e1d4;
  }
}

html {
  font-family: Lexend;
}

header {
  background-color: #404040;
}
header .logo_container {
  display: flex;
  padding: 1rem;
  align-items: center;
}
header img {
  width: 3.2rem;
}
header h1 {
  font-family: "Jockey One", sans-serif;
  margin-left: 1.6rem;
  font-size: 3rem;
  color: white;
}
@media (max-width: 799px) {
  header {
    background-color: #ebf0e9;
    display: flex;
    justify-content: space-around;
  }
  header h1 {
    color: black;
  }
}

.content {
  margin-top: 3rem;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 5rem;
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .content {
    margin-top: 1.5rem;
  }
}

nav {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 1rem 2rem;
  border-radius: 4rem;
  margin-bottom: 3rem;
  font-size: 1.4rem;
}
nav .separator {
  width: 0.2rem;
  height: 2.4rem;
  align-self: center;
  background-color: #d9e1d4;
}
nav .nav_link {
  display: flex;
  cursor: pointer;
}
nav .active {
  transition: all 0.5s;
  color: green;
  cursor: default;
}
@media (min-width: 1100px) and (max-width: 1500px) {
  nav {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
  }
}

main {
  position: relative;
  background-color: #d9e1d4;
  background-image: url("../../../public/Logo verde.svg"), linear-gradient(to right, transparent, #d9e1d4); /* A gradient for the background */
  background-repeat: no-repeat, no-repeat;
  background-position: calc(100% - 2rem) calc(100% - 2rem), top left;
  background-size: auto, auto;
  height: 70rem;
  border-radius: 1rem;
}
main h2,
main h3 {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Lexend";
}
@media (min-width: 1100px) and (max-width: 1500px) {
  main {
    height: 50rem;
  }
  main h2,
  main h3 {
    font-size: 1.4rem;
  }
}

.elementos {
  padding-bottom: 1rem;
}
.elementos__header {
  padding-top: 2rem;
  display: flex;
}
.elementos__header h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: auto;
  color: #416747;
}
.elementos__header img {
  margin-left: auto;
  margin-right: 3rem;
  cursor: help;
}
.elementos__body {
  margin-top: 5rem;
  margin-bottom: 4rem;
  margin-left: 15rem;
  margin-right: auto;
}
.elementos__body--elemento {
  display: grid;
  grid-template-columns: 1.6fr 2fr 4fr;
  grid-template-rows: 1fr;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
.elementos__body--elemento .quantidade {
  display: flex;
  align-items: center;
  margin-left: 3rem;
}
.elementos__body--elemento .quantidade h3 {
  margin-right: 2rem;
}
.elementos__body--elemento .quantidade .btn.question-mark {
  margin-left: 1rem;
  transition: all 0.25s;
}
.elementos__body--elemento .quantidade .btn.question-mark:hover {
  background-color: #ffc700;
}
.elementos__body--elemento .quantidade .btn {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: white;
  padding: 0.380952381rem 0.8rem;
  border-radius: 10rem;
  margin-right: 0.6rem;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}
.elementos__body--elemento .quantidade input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  -moz-appearance: textfield;
  width: 5rem;
  text-align: center;
  font-weight: 400;
  font-family: "Lexend";
}
.elementos__body--elemento h3 {
  margin-right: 5rem;
}
.elementos__body--elemento button {
  cursor: pointer;
  font-weight: 400;
  border: none;
  background-color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 0.7rem;
  margin-right: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.096);
}
.elementos__body--elemento button.active.sim {
  background-color: #5eb33a;
  color: white;
}
.elementos__body--elemento button.active.nao {
  color: white;
  background-color: #c22927;
}
.elementos__body--elemento button.active.nao-sei {
  background-color: #ffc700;
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .elementos__body {
    margin: 2rem auto 2rem 7rem;
  }
  .elementos__body--elemento {
    grid-template-columns: 1.6fr 3fr 3.5fr;
    grid-template-rows: 1fr;
    gap: 0px;
    margin-bottom: 1rem;
  }
}

.submit_btn_container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
  margin-top: 3rem;
}
.submit_btn_container button {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 1rem;
  border: solid black 0.2rem;
  border-radius: 1rem;
  font-size: 1.8rem;
  font-weight: 500;
  background-color: #5eb33a;
  transition: all 0.5s;
}
.submit_btn_container button img {
  margin-right: 1rem;
}
.submit_btn_container button:hover {
  position: absolute;
  top: -0.2rem;
  background-color: #79c957;
  box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.286);
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .submit_btn_container {
    margin-top: 2rem;
  }
}

.propriedades__header {
  padding-top: 2rem;
  display: flex;
}
.propriedades__header h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: auto;
  color: #416747;
}
.propriedades__header img {
  margin-left: auto;
  margin-right: 3rem;
  cursor: help;
}
.propriedades__body {
  grid-template-rows: repeat(3 1fr);
  margin-top: 5rem;
  padding: 0 20%;
}
.propriedades__body--range {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  margin-bottom: 5rem;
}
.propriedades__body--range h3 {
  font-size: 1.8rem;
  font-weight: 500;
}
.propriedades__body--range-min, .propriedades__body--range-max {
  display: flex;
}
.propriedades__body--range-min input, .propriedades__body--range-max input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  margin: 0;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
  -moz-appearance: textfield;
  width: 8rem;
  text-align: center;
  font-weight: 400;
  font-family: "Lexend";
}
.propriedades__body--range-min .btn, .propriedades__body--range-max .btn {
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  background-color: white;
  padding: 0.5714285714rem 1.2rem;
  border-radius: 10rem;
  margin-right: 0.6rem;
  -webkit-user-select: none; /* Safari */ /* IE 10 and IE 11 */
  -moz-user-select: none;
       user-select: none; /* Standard syntax */
}
.propriedades__body--range-min_text {
  position: absolute;
  top: -3rem;
  font-size: 1.5rem;
  left: 27rem;
  color: #416747;
  font-weight: 500;
}
.propriedades__body--range-max_text {
  position: absolute;
  top: -3rem;
  font-size: 1.5rem;
  left: 44rem;
  font-weight: 500;
  color: #416747;
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .propriedades h3 {
    font-size: 1.5rem;
  }
  .propriedades__body--range {
    grid-template-columns: 1fr 2fr 2fr;
  }
  .propriedades__body--range-min_text {
    position: absolute;
    top: -3rem;
    font-size: 1.5rem;
    left: 19rem;
  }
  .propriedades__body--range-max_text {
    position: absolute;
    top: -3rem;
    left: 37rem;
  }
}

.grupo_funcional__header {
  padding-top: 2rem;
  display: flex;
}
.grupo_funcional__header h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: auto;
  color: #416747;
}
.grupo_funcional__header img {
  margin-left: auto;
  margin-right: 3rem;
  cursor: help;
}
.grupo_funcional__body {
  margin: 3rem 20% 5rem 20%;
}
.grupo_funcional__body .ecgf {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}
.grupo_funcional__body .ecgf .dropdown {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 0 0.3rem 0.2rem rgba(0, 0, 0, 0.096);
  margin-right: 2rem;
}
.grupo_funcional__body .ecgf .dropdown img {
  margin-right: 1rem;
  cursor: pointer;
}
.grupo_funcional__body .ecgf .dropdown .separator {
  width: 0.1rem;
  height: 2rem;
  background-color: gray;
  margin-right: 1rem;
}
.grupo_funcional__body .ecgf .dropdown input {
  border: none;
  width: 15rem;
}
.grupo_funcional__body .ecgf__buttons {
  align-content: center;
  font-size: 1.8rem;
}
.grupo_funcional__body .ecgf__buttons label {
  margin-right: 2rem;
}
.grupo_funcional__body .ecgf__buttons input {
  margin-left: 1rem;
  width: 2rem;
  height: 2rem;
}
.grupo_funcional .plus_button {
  margin: 0 20%;
  display: flex;
  justify-content: space-around;
}
.grupo_funcional .plus_button__btn {
  cursor: pointer;
  display: flex;
  align-content: center;
  background-color: white;
  padding: 0.5rem 3rem;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 1rem;
}
.grupo_funcional .bottom_separator {
  margin: 5rem 20% 0 20%;
  width: auto;
  height: 0.1rem;
  background-color: black;
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .grupo_funcional__body {
    margin: 2rem 10% 0 10%;
    font-size: 1.2rem;
  }
  .grupo_funcional__body .ecgf .dropdown input {
    width: 12rem;
    font-size: 1.1rem;
  }
  .grupo_funcional__body .ecgf .dropdown__buttons label {
    font-size: 1.2rem;
  }
}

.identificadores__header {
  padding-top: 2rem;
  display: flex;
}
.identificadores__header h2 {
  font-size: 1.8rem;
  font-weight: 400;
  margin-left: auto;
  color: #416747;
}
.identificadores__header img {
  margin-left: auto;
  margin-right: 3rem;
  cursor: help;
}
.identificadores__body {
  margin: 4rem 20% 0 20%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 2rem;
}
.identificadores__body label {
  display: grid;
  grid-template-columns: 1fr 10fr;
  align-items: center;
  font-size: 1.8rem;
}
.identificadores__body label .identificadores__body--text {
  justify-self: end;
}
.identificadores__body label input {
  font-family: "Lexend";
  font-size: 1.8rem;
  margin-left: 1rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  width: 50rem;
}
@media (min-width: 1100px) and (max-width: 1500px) {
  .identificadores__body label {
    grid-template-columns: 1fr 7fr;
  }
  .identificadores__body label input {
    width: 40rem;
  }
}/*# sourceMappingURL=styles.css.map */